<!-- begin author -->
<section class="author">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="author__inner">

          <div class="author__left">
			  
			<div style="font-size: 0.6em" class="post__content"><a href="https://messari.io/asset/octofi" target="_blank">Verifed by <img src="/images/tcr_badge.svg" width="22px"> Messari</a> and <a href="https://gnosis-safe.io/app/#/safes/0xcCF04146399214EB7813Ab45B50d004c5b254784/balances" target="_blank">Secured by <img src="/images/gnosis.png" width="18px"> Gnosis Safe</a>.</div>
            <h1 class="author__name">{{ site.data.settings.author.title }}</h1>
            <p class="author__bio">{{ site.data.settings.author.bio }}</p>
            <a class="button button--small" style="margin-top: 28px; margin-right: 14px;" href="{{ site.data.settings.cta__button__url }}" target="_blank">
              {{ site.data.settings.author.button__text }} 
            </a>
             <a href="{{ site.data.settings.author.small__button__url }}" class="author__btn">{{ site.data.settings.author.small__button__text }}</a>
  
          </div>

          <div class="author__right">
            <div class="">
              <img class="lazy" data-src="{{ site.data.settings.author.image }}" alt="{{site.author.name}}'s Picture">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author -->
