{% if page.url contains '404' %}
{% else %}
<!-- begin subscribe -->
<section class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h3 class="subscribe__title">{{ site.data.settings.calltoaction__settings.calltoaction__title }}</h3>
          </div>          
            <center><a href="{{ site.data.settings.calltoaction__settings.calltoaction__button__url }}" class="button button--middle" target="_blank">{{ site.data.settings.calltoaction__settings.calltoaction__button__text }}</a></center>
            <center><a href="https://t.me/OctoFi" class="button--telegram" style="margin-top: 32px" target="_blank">Join our Telegram</a></center>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end subscribe -->
{% endif %}
