<!-- begin author -->
<section class="author">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="author__inner">

          <div class="author__left">
			  <a href="https://www.producthunt.com/posts/octofi-1?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-octofi-1" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=290006&theme=light" alt="OctoFi - Crypto cashback dApp & wallet for DeFi and NFT marketplaces | Product Hunt" style="width: 180px; height: 40px; margin-bottom: 12px;" width="180" height="40" /></a>
            <h1 class="author__name">{{ site.data.settings.author.title }}</h1>
            <p class="author__bio">{{ site.data.settings.author.bio }}</p>
            <a class="button button--small" style="margin-top: 28px; margin-right: 14px;" href="{{ site.data.settings.cta__button__url }}" target="_blank">
              {{ site.data.settings.author.button__text }} 
            </a>
             <a href="{{ site.data.settings.author.small__button__url }}" class="author__btn">{{ site.data.settings.author.small__button__text }}</a>
  
          </div>

          <div class="author__right">
            <div class="">
              <img class="lazy" data-src="{{ site.data.settings.author.image }}" alt="{{site.author.name}}'s Picture">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author -->
